{% extends 'layout.html' %}

{% block title %}
    Register a New User
{% endblock %}

{% block content %}
    <h1 class="form-title">Register a New User</h1>
        
    <div class="row">
        <form class="form-with-validation" action="{% url 'users:register' %}" method="post">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% csrf_token %}
            <div class="col-md-6">
                <label for="fname" class="form-label">First Name</label>
                {{form.first_name}}
            </div>
            <div class="col-md-6">
                <label for="lname" class="form-label">Last Name</label>
                {{form.last_name}}
            </div>
            <div class="col-md-6">
                <label for="username" class="form-label">Username</label>
                {{form.username}}
            </div>
            <div class="col-6">
                <label for="companyname" class="form-label">Company Name</label>
                {{form.company_name}}
            </div>
            <div class="col-6">
                <label for="inputAddress2" class="form-label">E-mail</label>
                {{form.email}}
            </div>
            <div class="col-12">
                <label for="password" class="form-label">Password</label>
                {{form.password1}}
                {% if form.password1.errors %}
                    <div class="errorlist">
                        <ul>
                            {% for error in form.password1.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <div class="col-12">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                {{form.password2}}
                {% if form.password2.errors %}
                    <div class="errorlist">
                        <ul>
                            {% for error in form.password2.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary mt-03">Create account</button>
            <p>Already have an account? <a href="{% url 'users:login' %}">Login</a></p>
        </form>
    </div>
{% endblock %}




    <button type="submit">Register</button>
</form>