pycparser
pyreadstat
distro
requests
charset-normalizer
pytz
six
tzlocal
asgiref
matplotlib
typing_extensions
httpx
certifi
tqdm
cycler
idna
annotated-types
fonttools
pillow
pydantic_core
kiwisolver
sniffio
urllib3
packaging
numpy
anyio
jiter
sqlparse
tzdata
rpy2
cffi
h11
djangorestframework
contourpy
openai
httpcore
pyparsing
pydantic
