{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Analytics
{% endblock %}

{% block content %}
    <div class="center-content">
        <h1>Analytics Visualisation</h1>
        <button onclick="history.back()" class="choose">Return</button>
        
        <h2>Customer Age</h2>
        <br>
        <h1>Choose visualisation graph</h1>
        <a href="/anal/age-2">
            <button class="choose" alt="bar">Bar chart view</button>
        </a>
        <a href="/anal/age">
            <button class="choose" alt="bar">Pie chart view</button>
        </a>
    </div>
{% endblock %}
